/** CSS for portfolio site (need to make sure that classes and id's are being used appropriately e.g. id for one page, classes for multi-pages) 
This is style 2 (black, white and red)
*/

/** COMMON SITE FEATURES */

body {
	background-color: black;
	color: white;
	font-family: Letter Gothic Std, Arial, sans-serif; /** might alternate between Letter Gothic Std and Orator Std */
	overflow-x: hidden;
}

header {
	text-align: center;
	font-size: 32px;
}

nav {
	text-align: center;
}

#matthew { 
	
	border-top: 1px solid red;
	border-right: 1px solid white;
	padding-right: 5px;
}

#aileru {
	color: red;
	border-bottom: 1px solid white;
	border-left: 1px solid red;
	padding-left: 5px;
}

a.sites, a.others {
	text-decoration: none;
	color: white;
	font-size: 24px;
	margin: 0px 15px;
}

a.sites:hover {
	color: red;
	border-top: 1px solid red;
	border-right: 1px solid white;
}

a.others:hover {
	color: red;
	border-bottom: 1px solid white;
	border-left: 1px solid red;
}

a.sites {
	border-top: 1px dotted white;
	border-right: 1px dotted red;
	padding-right: 2px;
}

a.others {
	border-bottom: 1px dotted red;
	border-left: 1px dotted white;
	padding-left: 2px;
}

p {
	text-align: center;
	font-size: 18px;
	padding-bottom: 20px;
}

footer p {
	text-align: center;
	font-size: 15px;
	padding-top: 20px;
}

p.para-frmt {
	width: 750px;
	text-align: center;
	margin-left: 295px;
}

/** LANDING PAGE */

.intro p {
	
}

a#enter {
	
}

a#enter:hover {
	color: #99ccff;
	/**text-decoration: underline;*/
}


/** PORTFOLIO (SITES) PAGE */

.content-sites {
	/**
	position: relative;
	left: 40px;
	top: 40px;
	*/
	margin: 40px;
}

.content-sites img {
	padding: 1px;
	margin: 3px;
	text-align: center;
	display: inline;
}

.content-sites img:hover {
	/** maybe use the same "half and half" border scheme */
}

#empty {
	background-color: #e6e6e6;
	opacity: 0.8;
}

#empty:hover {
	background-color: #cccccc;
}

/** INDIVIDUAL PAGES */
h2 { 
	font-size: 46px;
	text-align: center;
}
/**
p { 
	position: relative;
	left: 360px;
	font-size: 28px;
	text-align: center;
	width: 600px;
}
*/

#halc, #rapp, #bakery { /** halcIconic, rApp and The Bakery profile pages */
	position: relative;
	left: 290px;
}

#hart, #sdc { /** The Hart Gallery and SDC profile pages */
	position: relative;
	left: 215px;
}

#achica, #the-sdc { /** Achica and SDC application document design pages */
	position: relative;
	left: 290px;
	margin-bottom: 50px;
}

/**#sites, #others {background-color: #3e76a5;}*/

/** SDC site page */
a#sdc-link {
	color: black;
	text-decoration: none;
	/**text-indent: 400px;*/
	display: block;
	/**clear: both;*/
	border-top: 1px dotted black;
	border-right: 1px dotted #000033;
	padding-right: 2px;
	width: 270px;
	margin-left: 550px; 
	margin-bottom: 20px;
}

a#sdc-link:hover {
	color: #3333ff;
	border-top: 1px solid black;
	border-right: 1px solid #3333ff;
	padding-right: 2px;
	width: 270px;
}
/**
#sdc-link p {
	
	
}
*/
/** PORTFOLIO (OTHERS) PAGE */
.content-others {
	margin: 50px 100px;
}

.content-others img{
	padding: 9px;	
}