/** CSS for portfolio site (need to make sure that classes and id's are being used appropriately e.g. id for one page, classes for multi-pages) 
This is style 1 (white, black and blue)
*/

/** WEBFONT CLEARANCE */
@font-face {
    font-family: 'exoextralight';
    src: url('fonts/Exo/exo-extralight-webfont.eot');
    src: url('fonts/Exo/exo-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Exo/exo-extralight-webfont.woff2') format('woff2'),
         url('fonts/Exo/exo-extralight-webfont.woff') format('woff'),
         url('fonts/Exo/exo-extralight-webfont.ttf') format('truetype'),
         url('fonts/Exo/exo-extralight-webfont.svg#exoextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** COMMON SITE FEATURES */

body {
	background-color: white;
	color: black;
	margin: auto;
	font-family: 'exoextralight', Arial Black, sans-serif; /** might alternate between Letter Gothic Std and Orator Std */
	overflow-x: hidden;
}

header {
	text-align: center;
	font-size: 32px;
}

nav {
	text-align: center;
}

#matthew { /* first half of site header */
	padding: 12px;
	border-top: 1px solid #3333ff;
	border-right: 1px solid black;
	-ms-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

#matthew:hover {
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-ms-transition: border-radius 2s;
	-moz-transition: border-radius 2s;
	-webkit-transition: border-radius 2s;
	-o-transition: border-radius 2s;
	transition: border-radius 2s;
}
	
#aileru {
	color: #3333ff;
	padding: 12px;
	border-bottom: 1px solid black;
	border-left: 1px solid #3333ff;
	-ms-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

#aileru:hover {
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-ms-transition: border-radius 2s;
	-moz-transition: border-radius 2s;
	-webkit-transition: border-radius 2s;
	-o-transition: border-radius 2s;
	transition: border-radius 2s;
}
/*
#name:hover {
	color: #3333ff;
	border-top: 1px solid #3333ff;
	border-right: 1px solid black;
	border-radius: 30px;
	padding: 5px;
	transition: border-radius 0.5s;
}
*/
a.sites {
	border-top: 1px dotted black;
	border-right: 1px dotted #3333ff;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
}

a.others {
	border-bottom: 1px dotted #3333ff;
	border-left: 1px dotted black;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
}
/**
a.cvtemp-page {
	border-bottom: 1px dotted #3333ff;
	border-left: 1px dotted #3333ff;
	border-right: 1px dotted black;
}
*/
a.sites, a.others {
	text-decoration: none;
	color: black;
	font-size: 24px;
	margin: 0px 15px;
}

a.sites:hover {
	color: #3333ff;
	padding: 5px;
	border-top: 1px solid #3333ff;
	border-right: 1px solid black;
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-ms-transition: border-radius 0.5s;
	-moz-transition: border-radius 0.5s;
	-webkit-transition: border-radius 0.5s;
	-o-transition: border-radius 0.5s;
	transition: border-radius 0.5s;
}

a.others:hover {
	color: #3333ff;
	padding: 5px;
	border-bottom: 1px solid black;
	border-left: 1px solid #3333ff;
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-ms-transition: border-radius 0.5s;
	-moz-transition: border-radius 0.5s;
	-webkit-transition: border-radius 0.5s;
	-o-transition: border-radius 0.5s;
	transition: border-radius 0.5s;
}
/**
a.cvtemp-page:hover {
	color: #3333ff;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid #3333ff;
	border-bottom: 0px;
}
*/
p {
	text-align: center;
	font-size: 18px;
	padding-bottom: 20px;
}

footer p {
	text-align: center;
	font-size: 15px;
	padding-top: 20px;
}

p.para-frmt {
	width: 750px;
	text-align: center;
	margin-left: 295px;
}

/** (SITES) PAGE */

.content-sites {
	/**
	position: relative;
	left: 40px;
	top: 40px;
	*/
	margin-left: 50px;
	margin: 50px 0 0 65px;
}

.content-sites img {
	/*padding: 1px;*/
	margin: 12px;
	text-align: center;
	display: inline;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-ms-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	width: 325px;
	height: 200px;
}

.content-sites img:hover {
	/** maybe use the same "half and half" border scheme */
	/*padding: 5px;*/
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-ms-filter: none;
	-moz-filter: none;
	-webkit-filter: none;
	-o-filter: none;
	filter: none;
	transition: filter 2s;
}

div.content-sites div.row1, div.row2 {
	position: relative;
	left: 80px;
}

#empty {
	background-color: #e6e6e6;
	opacity: 0.8;
}

#empty:hover {
	background-color: #cccccc;
}

/** INDIVIDUAL SITE PAGES */
h2 { 
	font-size: 46px;
	text-align: center;
}
/**
p { 
	position: relative;
	left: 360px;
	font-size: 28px;
	text-align: center;
	width: 600px;
}
*/

#halc, #rapp, #bakery, #cafe { /** halcIconic, rApp and The Bakery profile pages */
	position: relative;
	left: 290px;
}

#hart, #sdc { /** The Hart Gallery and SDC profile pages */
	position: relative;
	left: 215px;
}

/**#sites, #others {background-color: #3e76a5;}*/

/** SDC site page */
a#sdc-link {
	color: black;
	padding: 5px;
	width: 270px;
	margin-left: 550px; 
	margin-bottom: 20px;
	text-decoration: none;
	border-left: 1px dotted blue;
	border-right: 1px dotted blue;
	border-bottom: 1px dotted black;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

a#sdc-link:hover {
	color: #3333ff;
	padding: 5px;
	width: 270px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid blue;
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-ms-transition: border-radius 0.5s;
	-moz-transition: border-radius 0.5s;
	-webkit-transition: border-radius 0.5s;
	-o-transition: border-radius 0.5s;
	transition: border-radius 0.5s;
}

img#sdc  {
	margin: 30px 0px;
}

/** PORTFOLIO (OTHERS) PAGE */
.content-others {
	margin: 50px 100px;
}

.content-others img{
	padding: 9px;	
}

/** Menu interface page (logos, apps and games) */

div.others-submenu {
	margin-bottom: 250px;
	margin-left: 425px;
	margin-top: 100px;
}

div.others-submenu a {
	text-decoration: none;
	color: black;
	
	font-size: 50px;
	margin: 0px 15px;
	padding: 5px;
	border-left: 1px dotted blue;
	border-bottom: 1px dotted black;
	border-right: 1px dotted blue;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

div.others-submenu a:hover {
	color: blue;
	padding: 5px;
	border-left: 1px solid black;
	border-bottom: 1px solid blue;
	border-right: 1px solid  black;
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-ms-transition: border-radius 0.5s;
	-moz-transition: border-radius 0.5s;
	-webkit-transition: border-radius 0.5s;
	-o-transition: border-radius 0.5s;
	transition: border-radius 0.5s;
}

/** CV templates */

/**
.cv-templates {
	margin: 50px 100px;
}

.cv-templates img{
	padding: 9px;	
}

.temp-pos { /** short for 'template positioning' *//**
	position: relative;
	left: 290px;
	margin-bottom: 50px;
}
*/