* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFF9F9;
  color: #272727;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Verdana", sans-serif;
}

a:link, a:visited {
  color: brown;
}

.main-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  border: 2px solid #272727;
}

.main-header h1 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Verdana Mono", monospace;
  margin: 12px 25px;
}

.main-header h1 .logo {
  font-weight: bold;
}

.main-header .hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 25px;
}

.main-header .hamburger-menu div {
  width: 7.5vw;
  height: 5px;
  margin: 0.4em 0;
  background-color: #272727;
}

.section-header {
  border: 2px solid #272727;
  margin: 15px;
}

.section-header h2 {
  font-family: "Verdana Mono", monospace;
  font-size: 2em;
  color: #272727;
  text-align: center;
  padding: 0.25em;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  border: 1px solid green;
  text-align: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.hero .mid-hero {
  width: 75%;
  border: 1px solid red;
  margin: auto;
}

.hero .mid-hero p {
  font-size: 3em;
  padding: 45px 0;
}

.hero .mid-hero .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #272727;
  margin: 45px 0;
  width: 71.5vw;
  height: 40vh;
}

.hero .mid-hero .logo-box p {
  font-size: 3em;
  font-weight: 700;
  font-family: "Verdana Mono", monospace;
}

.hero .calls-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid purple;
  width: 75%;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

.hero .calls-to-action a#view-work-link, .hero .calls-to-action a#contact-link {
  text-decoration: none;
  border: none;
  font-size: 2em;
  font-family: "Verdana", sans-serif;
  padding: 0.5em;
  margin-bottom: 0.75em;
}

.hero .calls-to-action a#view-work-link {
  background-color: #272727;
  color: #FFF9F9;
}

.hero .calls-to-action a#contact-link {
  background-color: #FFF9F9;
  color: #272727;
  border: 2px solid #272727;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me p {
  width: 75%;
  font-size: 2em;
  text-align: center;
  margin: auto;
  padding: 2em 0;
  line-height: 2em;
}

.my-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-skills .section-header {
  width: 100%;
}

.my-skills .skill {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 3em 0;
}

.my-skills .skill p {
  text-align: center;
  font-size: 4em;
  padding: 1em 0;
}

.my-skills .more-info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4em 0;
}

.my-skills .more-info p {
  font-size: 3em;
  padding: 0.5em 0;
}

.my-skills .more-info a:link, .my-skills .more-info a:visited {
  font-size: 3em;
}

.my-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 5em;
}

.my-work .work div {
  width: 100%;
  border: 3px solid black;
}

.my-work p {
  font-size: 2em;
}

.contact-me form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 15px;
  padding: 4em 0 2em 0;
}

.contact-me form label {
  font-size: 1.5em;
}

.contact-me form input[type=text] {
  height: 7vh;
  font-size: 4vh;
  padding-left: 0.5em;
  border: 2px solid black;
  border-radius: 0%;
}

.contact-me form input[type=text]:focus {
  background-color: #ffd19c;
  border: 3px solid black;
  border-radius: 0%;
}

.contact-me form textarea {
  max-width: 100%;
  max-height: 30vh;
  height: 25vh;
  font-size: 4vh;
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 0%;
}

.contact-me form textarea:focus {
  background-color: #ffd19c;
  border: 3px solid black;
  border-radius: 0%;
}

.contact-me form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: #272727;
  color: #FFF9F9;
  text-align: center;
  padding: 1em 0.25em 1em 1.25em;
  margin-top: 1em;
}

.contact-me form button .button-text {
  margin-right: 1.5em;
  font-size: 4em;
}

.contact-me form button img {
  width: 8%;
  height: 8%;
}

.contact-me .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10rem 0;
}

.contact-me .social-links div img {
  width: 250px;
  height: 200px;
}

.contact-me .social-links div a span {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid black;
  padding: 3em 2em;
  font-size: 2em;
}
/*# sourceMappingURL=style.css.map */