$mainColour: #FFF9F9;
$secColour: #272727; // might change later, we'll see...
$headerFont: 'Verdana Mono', monospace;
$mainFont: 'Verdana', sans-serif;

* {
    margin: 0;
    padding: 0;
}

body {
    background: $mainColour;
    color: $secColour;
    width: 100%;
    // overflow-x: hidden;
}

.container {    
    display: flex;
    flex-direction: column;
    font-family: $mainFont;
    // width: 100%;
    // height: 100vh;
}

a:link, a:visited {
    color: brown;
}

.main-header {
    width: 100%;
    display: flex;     
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    border: 2px solid $secColour;

    h1 {
        // width: 45%;
        font-size: 1.5rem;
        font-weight: normal;
        font-family: $headerFont;
        margin: 12px 25px;

        .logo {
            font-weight: bold;
        }
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 12px 25px;
        
        div {
            width: 7.5vw;
            height: 5px;
            margin: 0.4em 0;
            background-color: $secColour;
        }
    }
}

.section-header {
    border: 2px solid $secColour;
    margin: 15px;
    
    h2 {
        font-family: $headerFont; 
        font-size: 2em;
        color: $secColour;
        text-align: center;
        padding: 0.25em;
    }
}



.hero {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid green;
    // margin-top: 65px;
    text-align: center;    
    align-items: space-around;
    
    .mid-hero { 
        // display: flex;
        width: 75%;
        
        border: 1px solid red;
        margin: auto;

        p {
            font-size: 3em;
            // width: 50%;
            padding: 45px 0;
        }

        .logo-box {
            // width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $secColour;
            margin: 45px 0;
            width: 71.5vw;
            height: 40vh;
            // align-self: flex-end;

            p {
                // font-size: large;
                // font-weight: 700;
                // margin: auto;
                font-size: 3em;
                font-weight: 700;
                font-family: $headerFont;
                // padding: 160px 0;
            }
        }
    }

    .calls-to-action {
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        border: 1px solid purple;
        width: 75%;
        margin: auto;
        margin-top: 45px;
        margin-bottom: 45px;

        // a {
        //     text-decoration: none;
        //     color: black;
        // }

        a#view-work-link, a#contact-link {
            text-decoration: none;
            border: none;
            font-size: 2em;
            font-family: $mainFont;
            padding: 0.5em;
            margin-bottom: 0.75em;
        }

        a#view-work-link {
            background-color: $secColour;
            color: $mainColour;
        }

        a#contact-link {   
            background-color: $mainColour;
            color: $secColour;
            border: 2px solid $secColour;
        }

    }
    
}

.about-me {
    display: flex; 
    flex-direction: column;    
    
    
    p {
        width: 75%;
        font-size: 2em;
        text-align: center;
        margin: auto;
        padding: 2em 0;
        line-height: 2em;
    }
}

.my-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .section-header {
        width: 100%;
    }

    .skill {
        width: 50%;
        // margin: auto;
        align-self: center;
        margin: 3em 0;

        p {
            text-align: center;
            font-size: 4em;
            padding: 1em 0;
        }
    }

    .more-info {
        text-align: center;
        //     font-size: 4em;
        //     padding: 3em 0;
        display: flex;
        flex-direction: column;
        margin: 4em 0;

        p {
            font-size: 3em;
            padding: 0.5em 0;
        }

        a:link, a:visited { 
            font-size: 3em;
        }
    }
}

.my-work {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5em;

    .work {
        // margin: auto;

        div {
            width: 100%;
            border: 3px solid black;
            // padding: 50%
            // margin: 2em 0;
            // width: 87vw;
            // height: 1vh;
        }

        // .placeholder {
        //     padding: 40vh 0;
        //     // display: flex;
        //     // flex-direction: column;
        //     width: 100%;

        //     p {
        //         font-size: 1em;
        //     }
        // }

        // .real {
        //     // margin: 12.5px;

        //     img {
        //         // width: 100%;
        //     }
        //     // }
        //     // .my-work-para {
        //     //     margin: 44em 0;
        //     // }
        // }
    }

    p {
        font-size: 2em;
    }
}

.contact-me {
    form {
        display: flex;
        flex-flow: column nowrap;
        margin: 15px;
        padding: 4em 0 2em 0;

        label {
            font-size: 1.5em;
        }

        input[type=text] {
            // background-color: orange;
            height: 7vh;
            font-size: 4vh;
            padding-left: 0.5em;
            border: 2px solid black;
            border-radius: 0%;
        }

        input[type=text]:focus {
            background-color: #ffd19c;
            border: 3px solid black;
            border-radius: 0%;
        }

        textarea {
            // background-color: orange;
            max-width: 100%;
            max-height: 30vh;
            height: 25vh;
            font-size: 4vh;
            // padding-left: 0.5em;
            padding: 0.5em;
            border: 2px solid black;
            border-radius: 0%;
        }

        textarea:focus {
            background-color: #ffd19c;
            border: 3px solid black;
            border-radius: 0%;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: $secColour;
            color: $mainColour;
            
            text-align: center;
            padding: 1em 0.25em 1em 1.25em;
            margin-top: 1em;

            .button-text {
                margin-right: 1.5em;
                font-size: 4em;
                
            }
            
            img {
                width: 8%;
                height: 8%;
                // margin: 0 2em;
            }
        }
    }

    .social-links {
        display: flex;
        justify-content: space-evenly;
        margin: 10rem 0;  

        div {
            img {
                width: 250px;
                height: 200px;
            }
            a {
                span {
                    display: none;
                }
            }
        }

        // .email {
        //     img {
        //         height: 150px;
        //     }
        // }

    }
}

footer {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 3em 2em;
    font-size: 2em;
}