/** Matthew Aileru's Web Portfolio CSS (monochromatic use of blue {swatch - #e5ecff, #b3c8ff, #0031b8, #0e255d - light blue to dark blue}) */

* {
	box-sizing: border-box;
}

body {
	background: #b3c8ff;
	color: #e5ecff;
	margin: 0;
}

/** Theme selection links/div */
.themes div {
	width: 25%;
	height: 5px;
	display: inline;
	float: left;
	transition: height 0.25s;
}

.themes div:hover {
	
	height: 13px;
}

#classic {
	background-color: white;
}

#mono {
	background-color: #b3c8ff;
}

#ana {
	background-color: #110934;
}

#comp {
	background-color: #347b98;
}
/******************************/

header, footer {
	/**width: 100%;*/
	text-align: center;
	
}

.site-top {
	background: #e5ecff;
	padding: 0.5%;
	font-size: 2.75vw;
}

a {
	text-decoration: none;
}

#matthew {
	color: #0e255d;
	border-top: 2px solid #0031b8;/**#dbe5ff;*/
	
}

#aileru {
	color: #0031b8;
	border-bottom: 2px solid #0e255d;/**#dbe5ff;*/
}

div {
	
	
	/**border: 1px solid red;*/
}

img { 
	width: 80%;
	margin: auto;
	display: block;
	padding: 30px 0;
}

img.home-gallery {
	opacity: 0.5;
	transition: opacity 1s;
}

img:hover {
	opacity: 1;
}

a#back-to-top {
	float: right;
	font-size: 2vw;
	margin-top: 0.5%;
	margin-right: 2%;
}

a#back-to-top, a:visited#back-to-top {
	color: 0e255d;
}

a:hover#back-to-top, a:active#back-to-top {
	color: #0031b8;
}

.site-bottom {
	background: #091534;
	padding: 1%;
	font-size: 2.25vw;
}

/** Site/work profile pages */
.mid-content {
	text-align: center;
}

.mid-content h1 {
	font-size: 5.5vw;
}

.mid-content p {
	font-size: 4vw;
	width: 75%;
	margin: auto;
}

.mid-content a, a:visited {
	color: 0e255d;
	font-size: 3vw;
	display: block;
	clear: both;
	margin-top: 15px;
}

.mid-content a:hover, a:active {
	color: #0031b8;
}