/** CSS for portfolio site (need to make sure that classes and id's are being used appropriately e.g. id for one page, classes for multi-pages) 
This is style 1 (white, black and blue)
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/** WEBFONT CLEARANCE */
@font-face {
    font-family: 'exoextralight';
    src: url('fonts/Exo/exo-extralight-webfont.eot');
    src: url('fonts/Exo/exo-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Exo/exo-extralight-webfont.woff2') format('woff2'),
         url('fonts/Exo/exo-extralight-webfont.woff') format('woff'),
         url('fonts/Exo/exo-extralight-webfont.ttf') format('truetype'),
         url('fonts/Exo/exo-extralight-webfont.svg#exoextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}



/** GLOBAL FEATURES */

body {
	background-color: #F8F8F8; /** or #F5F5F5 */
	color: black;
	margin: 0;
	padding: 0;
	font-family: 'exoextralight', Arial Black, sans-serif; /** might alternate between Letter Gothic Std and Orator Std */
	overflow-x: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  background-color: #fff;
  color: #444;     
}

.box {
  background-color: purple;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

header {
	text-align: center;
	
	font-size: 32px;
	margin: 35px 0;
	
}

nav {
	text-align: center;
	margin-left: 11%;
}

#matthew { /* first half of site header */
	padding: 12px;
	border-top: 1px solid #3333ff;
	border-right: 1px solid black;
	-ms-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

#matthew:hover {
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-ms-transition: border-radius 2s;
	-moz-transition: border-radius 2s;
	-webkit-transition: border-radius 2s;
	-o-transition: border-radius 2s;
	transition: border-radius 2s;
}
	
#aileru {
	color: #3333ff;
	padding: 12px;
	border-bottom: 1px solid black;
	border-left: 1px solid #3333ff;
	-ms-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

#aileru:hover {
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-ms-transition: border-radius 2s;
	-moz-transition: border-radius 2s;
	-webkit-transition: border-radius 2s;
	-o-transition: border-radius 2s;
	transition: border-radius 2s;
}

nav {
	margin-left: 20px;
}
/*
#name:hover {
	color: #3333ff;
	border-top: 1px solid #3333ff;
	border-right: 1px solid black;
	border-radius: 30px;
	padding: 5px;
	transition: border-radius 0.5s;
}
*/
a.sites {
	border-top: 1px dotted black;
	border-right: 1px dotted #3333ff;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
}

a.others {
	border-bottom: 1px dotted #3333ff;
	border-left: 1px dotted black;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
}

a.sites, a.others {
	text-decoration: none;
	color: black;
	font-size: 24px;
	margin: 0px 15px;
}

a.sites:hover {
	color: #3333ff;
	padding: 5px;
	border-top: 1px solid #3333ff;
	border-right: 1px solid black;
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-ms-transition: border-radius 0.5s;
	-moz-transition: border-radius 0.5s;
	-webkit-transition: border-radius 0.5s;
	-o-transition: border-radius 0.5s;
	transition: border-radius 0.5s;
}

a.others:hover {
	color: #3333ff;
	padding: 5px;
	border-bottom: 1px solid black;
	border-left: 1px solid #3333ff;
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-ms-transition: border-radius 0.5s;
	-moz-transition: border-radius 0.5s;
	-webkit-transition: border-radius 0.5s;
	-o-transition: border-radius 0.5s;
	transition: border-radius 0.5s;
}

section {
	width: 33.3%;
	float: left;
}

p {
	text-align: center;
	font-size:  18px;
	padding-bottom: 20px;
}

p.para-frmt {
	width: 750px;
	text-align: center;
	margin-left: 295px;
}

footer {
	margin-top: 150px;
}

footer p {
	text-align: center;
	font-size: 15px;
	
}

/** SITES/INDEX PAGE */
.holder {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	grid-gap: 10px;
	background-color: #fff;
	color: #444;
	clear: both;
}

.site {
	
}

/** Site showcase */
#container2 {
	margin: auto; 
	width: 85%;
	position: relative;
	top: 50px;
	
}

.cont {
	display: inline-block;
	width: 33%;
	height: 225px;
} 

/*

.site  {
	margin: 12px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-ms-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	
}

.content-sites {
	margin: 50px 0 0 140px;
}

.content-sites section {
	float: left;
	width: 30%;
	padding: 10px;
}

.content-sites img {
	margin: 12px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-ms-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	
	width: 325px; 
	height: 200px;
	
}

.content-sites img:hover {
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-ms-filter: none;
	-moz-filter: none;
	-webkit-filter: none;
	-o-filter: none;
	filter: none;
	transition: filter 1s;
}
*/
/*
div.content-sites div.row1, div.row2 {
	position: relative;
	left: 15%;
}
*/
#empty {
	background-color: #e6e6e6;
	opacity: 0.8;
}

#empty:hover {
	background-color: #cccccc;
}

/** INDIVIDUAL SITE PAGES */
h2 { 
	font-size: 42px;
	text-align: center;
}
/**
p { 
	position: relative;
	left: 360px;
	font-size: 28px;
	text-align: center;
	width: 600px;
}
*/
/** For links leading to working pages */
.link-pos {
	margin: auto;
	position: relative;
	left: 38%;
}

.action-link {
	color: black;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	border-left: 1px dotted blue;
	border-right: 1px dotted blue;
	border-bottom: 1px dotted black;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

a.action-link:hover {
	color: #3333ff;
	padding: 5px;
	width: 270px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid blue;
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-ms-transition: border-radius 0.5s;
	-moz-transition: border-radius 0.5s;
	-webkit-transition: border-radius 0.5s;
	-o-transition: border-radius 0.5s;
	transition: border-radius 0.5s;
}

img.portrait  { /** halcIconic, rApp and The Bakery profile pages */
	position: relative;
	left: 20%;
	top: 50px;
	margin: auto;
	width: 60%;
}

img.landscape { /** The Hart Gallery and SDC profile pages */
	position: relative;
	left: 215px;
	padding: 25px 0px;
}
/**
#sdc  {
	
}
*/
/**#sites, #others {background-color: #3e76a5;}*/

img#sdc  {
	margin: 30px 0px;
}

/** PORTFOLIO (OTHERS) PAGE */
.content-others {
	margin: 50px 100px;
}

.content-others img{
	padding: 9px;	
}

/** Menu interface page (logos, backgrounds and CV templates) */

div.others-submenu {
	margin-bottom: 250px;
	margin-left: 285px;
	margin-top: 100px;
}

div.others-submenu a {
	text-decoration: none;
	color: black;
	font-size: 5em;
	margin: 0px 15px;
	padding: 5px;
	border-left: 1px dotted blue;
	border-bottom: 1px dotted black;
	border-right: 1px dotted blue;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

div.others-submenu a:hover {
	color: blue;
	padding: 5px;
	border-left: 1px solid black;
	border-bottom: 1px solid blue;
	border-right: 1px solid black;
	-ms-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-ms-transition: border-radius 0.5s;
	-moz-transition: border-radius 0.5s;
	-webkit-transition: border-radius 0.5s;
	-o-transition: border-radius 0.5s;
	transition: border-radius 0.5s;
}

/** CV templates */

/**
.cv-templates {
	margin: 50px 100px;
}

.cv-templates img{
	padding: 9px;	
}

.temp-pos { /** short for 'template positioning' *//**
	position: relative;
	left: 290px;
	margin-bottom: 50px;
}
*/
/** MEDIA QUERIES */
@media screen and (max-width: 768px) {
	header h1 {
		font-size: 95%;
	}
	
	nav a.sites, nav a.others { 
		font-size: 90%;
		text-align: center;
	}
	
	.pics {
		float: left;
		width: 100%;
		/**clear: both;*/
	
	}
	
	.cont {
		display: inline-block;
		width: 50%;
	}
	/**
	div.content-sites img {
		width: 50%;
		display: inline;
		height: auto;
		margin: auto;
	}
	*/
	/**
	div.content-sites {
		/**margin-left: -40px;*/
		/**margin-left: -10%;*/
		/**margin-right: 25%;
	}
	*/
	p { 
		width: 75%;
		margin: auto;
	}
	/**
	a.action-link {
		
		position: relative;
		left: 20%;
	}
	*/
	
	
	img.portrait {
		margin-left: -10%;
		margin-right: 25%;
	}
}
	
@media screen and (max-width: 400px) {
	.pics {
		
	}
	
	.cont {
		display: block;
		width: 100%;
		
	}
}